*{
    margin: 0;
    padding: 0;
}

body{
    background-color: pink;
    color: rgb(255, 88, 116);
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: rgb(255, 88, 116);
    padding: 8px;
    margin-top: 0px;
    color: white;
    position: sticky;
    top: 0px;
}
a{
    text-decoration: none;
}


header nav ol a{
    border: 0%;
    padding: 20px;
    margin-left: 11%;
    text-align: center;
    align-items: center;
    display: inline-block;
    justify-content: center;
    color: white;
}


h1{
    margin-left: 2%;
    margin-bottom: 10px;
}

main{
    margin-left: 2%;
    margin-top: 20px;
    color: rgb(255, 88, 116);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

section p{
    margin-left: 2%;
    margin-top: 50px;
}

section img{
    margin-left: 6%;
    margin-top: 15px;
    height: 50px;
}

.form, .name, .mail, .pcia, .text{
    color: rgb(255, 88, 116);

    
}

.form{
    font-size: 30px;
    text-align: center;
}

.name{
    justify-content: center;
}

.grid{
    grid-template-columns: 518px 1000px;
    grid-template-areas: 
    "cab cab"
    "presu formulario"
    "rrss";
}

.rrss{
    grid-area: rrss;
    align-items: center;
    text-align: center;
}

.presu{
    grid-area: presu;
    margin-top: 190px;
}

.formulario{
    grid-area: formulario;
    margin-bottom: 50px;
}

footer{
    padding: 15px;
    background-color: white;
}